<br>
<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>ようこそ、Bikers reviewへ！</h1>
      <P>このサイトは、バイクのレビューサイトになります。</P>
      <P>会員でない方もレビューの閲覧はできますが、</P>
      <P>レビューの投稿と、いいね・コメント機能を利用するには、</P>
      <p>会員登録が必要になります。</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "レビューを見る", bikes_path, class: "btn btn-info btn-sm btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>